.App {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

/* Contenedor del botón */
.button-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 20px; /* Añadir margen superior opcional */
}


label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin: 10px;
}

input {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: darkgrey;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}
